.thankyou {
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $neutral-dark-blue;
    padding: 30px;
    border-radius: 10px;

    &__thankyou-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 150px;
            margin: 10px 0 25px 0;
        }

        .ratingText {
            color: hsla(25, 97%, 53%, 0.6);
            font-size: 12px;
            background-color: hsla(216, 12%, 54%, 0.1);

            padding: 5px 15px;
            border-radius: 60px;
        }

        .thankyouText {
            color: $neutral-light-grey;
            font-weight: 400;
            font-size: 15px;
            text-align: center;
            line-height: 22px;
        }

        h1 {
            margin: 25px 0 10px 0;
            color: $neutral-white;
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.5px;
        }


    }


    


}