@import 'config';
@import 'component';
@import 'thankyou';

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    // max-width: 375px;
    background-color: $neutral-very-dark-blue;
}


